@font-face {
  font-family: 'agency fb bold condensed';
  src: url(fonts/agencyfb-boldcondensed.ttf) ;
}
@font-face {
  font-family: 'agency fb reg';
  src: url(fonts/agencyfb-regularcondensed.ttf) ;
}
@font-face {
  font-family: 'agency fb bold';
  src: url(fonts/agencyfb-bold.otf) ;
}

/* 
  mira orange: #E5450A;
  mira orange tint: #FF833D;
  light teal: #73E5D8;
  dark teal: #07AA9B;
  dark grey: #505555;
  light grey: #999;

*/

* {
	box-sizing: border-box;
}
body {
	font-family: 'EB Garamond', serif;
	margin: 0;
	font-size: 24px;
	color: #505555;
	min-height: 100vh;
  display: flex;
  flex-direction: column;
}
h1, h2, h3 {
  font-family: 'agency fb bold', arial;
  color: #E5450A;
  margin: 28px 0 10px 0;
}

 h1, h2 {
 	font-size: 36px;
 	text-transform: uppercase;
 }

a { color: #E5450A; }
a:hover { color: #07AA9B; }

.header, .content-wrapper, footer div {
	max-width: 960px;
	padding: 20px;
	margin: auto;
}
.content-wrapper {
	padding-right: 60px;
}
.header {
	height: 80px;
	display: flex;
	justify-content: space-between;
}
nav.main-nav, .menu-mobile { display:none; }
header hr {
 	margin: 0;
 }
.mira {
	font-family: 'agency fb bold', arial;
  color: #E5450A;
}
.hide {
	display: none;
}
.whitespace {
	padding-bottom: 120px;
}
p.top-space {
	margin-top: 28px;
}
nav ul {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	margin:0;
}
nav li {
	font-family: 'agency fb bold', arial;
	padding-left: 20px;
}
nav a {
	color: #505555;
	text-decoration: none;
}
nav a.active { color: #73E5D8; }
.logo { 
	height:80px;
	width: 300px;
	margin-left: -14px;
	margin-top: -100px;
}
nav .menu-mobile  a { color: #fff; }
nav .menu-mobile  a:hover { color: #07AA9B; }
/* mobile nav */
nav .menu-mobile ul {
	padding:0;
}
nav .menu-mobile li {
	padding-bottom:28px;
	font-size: 36px;
	padding-left: 0;
}
.icon {
    position: fixed;
    cursor: pointer;
    top: 5%;
    right: 0%;
    width: 40px;
    height: 45px;
    transform: translate(-50%, -50%);
    display: block;
    z-index: 1000;
}

.hamburger {
    width: 40px;
    height: 4px;
    line-height: 70px;
    background: #666;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    transition: .5s;
}

.hamburger:before,
.hamburger:after {
    content: '';
    position: absolute;
    width: 40px;
    height: 4px;
    background: #666;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    transition: .5s;
}

.hamburger:before {
    top: -10px;
}

.hamburger:after {
    top: 10px;
}

.icon.active .hamburger {
    background: rgba(0,0,0,0);
    box-shadow: 0 2px 5px rgba(0,0,0,0);
}

.icon.active .hamburger:before {
    top: 0;
    transform: rotate(45deg);
    background-color: #fff;
}

.icon.active .hamburger:after {
    top: 0;
    transform: rotate(135deg);
    background-color: #fff;
}

.menu-mobile {
    background-color: #505555;
    height: 100vh;
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    z-index: 2;
    padding-top: 100px;
    text-align: center;
}

.menu-mobile li {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}



/* END OF Mobile Menu */



/* mobile nav */
img { width: 100%; }
.logo img {width: 80%;}

p {
	margin-top:0;
	margin-bottom: 28px;
}
.emphatic {
	padding: 60px 20px;
}
hr {
	color:#E5E5E5;
	background:#E5E5E5;
	height:1px;
	border:none
}

.space {
	padding-top:60px;
}
.teal-oj div.teal {
	width: 100vw;
	background-color: #07AA9B;
}
.teal-oj h2 {
	color: white;
}
.oj {
	background-color: #E95A25;
	color: white;
}
.oj h3 {color: #fff;}
.oj-text {color: #E95A25;}
.team {
	display: grid;
	grid-template-columns: 1fr;
}

.team h2 { display: inline; }

.team p {margin-top: 0;}
.team img {padding: 20px 100px;}
footer {
	background-color: #E5450A;
	width: 100vw;
	height: 120px;
	padding: 20px;
	color: #fff;
	font-family: 'agency fb reg', arial;
	font-size: 28px;
	margin-top: auto;
}

footer a {
	color: #fff;
}
footer a:hover {
	color: #73E5D8;
}

@media only screen and (min-width: 768px) {
 h1, h2, h3 {
  margin: 42px 0 10px 0;
}
p.top-space {
	margin-top: 42px;
}
 .header {
		margin-top: 20px;
 }
	nav.main-nav{ display:block; }
	nav.mobile-nav, .menu-mobile { display:none; }
 .logo { 
		height:100px;
		width: 400px;
		margin-top: -178px;
	}
	.logo img { 
		width: 320px; 
		margin-top: 34px; 
		z-index: 0;
	}	
	nav ul {
		flex-direction: row;
	}
	nav {
		margin-top: 26px;
	}
	.content-wrapper {
		padding-right: 20px;
	}
	.emphatic {
		padding: 120px;
	}
	.team {
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin: 60px 0;
	}
	.team:nth-child(even) img{
	  grid-column: 2 / 3; 
	  grid-row: 1/2;
	}
	.team:nth-child(even) div {
		grid-column: 1 / 2;
		grid-row: 1/2;
	}

}