@font-face {
  font-family: 'agency fb bold';
  src: url(fonts/agencyfb-boldcondensed.ttf) ;
}
@font-face {
  font-family: 'agency fb reg';
  src: url(fonts/agencyfb-regularcondensed.ttf) ;
}

/* 
  mira orange: #E5450A;
  mira orange tint: #FF833D;
  light teal: #73E5D8;
  dark teal: #07AA9B;
  dark grey: #505555;
  light grey: #999;

*/

* {
	box-sizing: border-box;
}
body {
	font-family: 'EB Garamond', serif;
	margin: 0;
	font-size: 24px;
	color: #505555;
}
h1, h2, h3 {
  font-family: 'agency fb bold', arial;
  color: #E5450A;
}

 h1, h2 {
 	font-size: 36px;
 	text-transform: uppercase;
 }

a { color: #E5450A; }
a:hover { color: #07AA9B; }

.header, .content-wrapper, footer div {
	max-width: 960px;
	padding: 20px;
	margin: auto;
}

.header {
	display: flex;
	justify-content: space-between;
	margin: 20px auto;
}
.hide {
	display: none;
}
.whitespace {
	padding-bottom: 120px;
}
nav ul {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	margin:0;
}
nav li {
	font-family: 'agency fb bold', arial;
	padding-left: 20px;
}
nav a {
	color: #505555;
	text-decoration: none;
}
nav a.active { color: #73E5D8; }
.logo { 
	height:80px;
	width: 300px;
	margin-left: -24px;
	margin-top: -110px;
}

img {width: 100%;}

.emphatic {
	padding: 60px 20px;
}
hr {
	color:#999;
	background:#999;
	height:1px;
	border:none
}

.teal-oj div.teal {
	width: 100vw;
	background-color: #07AA9B;
}
.teal-oj h2 {
	color: white;
}
.oj {
	background-color: #E95A25;
	color: white;
}
.oj h3 {color: #fff;}

.team {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 60px;
	margin: 60px 0;
}
.team:nth-child(even) img{
  grid-column: 2 / 3; 
  grid-row: 1/2;
}
.team:nth-child(even) div {
	grid-column: 1 / 2;
	grid-row: 1/2;
}
.team h2 { display: inline; }

.team p {margin-top: 0;}
.team img {padding: 20px;}
footer {
	background-color: #E5450A;
	width: 100vw;
	height: 120px;
	padding: 20px;
	color: #fff;
	font-family: 'agency fb reg', arial;
	font-size: 28px;
}

footer a {
	color: #fff;
}
footer a:hover {
	color: #73E5D8;
}

@media only screen and (min-width: 768px) {
 .logo { 
		height:100px;
		width: 400px;
		margin-top: -178px;
	}
	.logo img { width: 100%; z-index: 0;}
/*	.logo .words { display: block; margin-left: -118px; z-index: 1;}
*/	nav ul {
		flex-direction: row;
	}
	.emphatic {
		padding: 120px;
	}

}